<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>dzdnew</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
   <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.neuedu.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WarehouseServlet</display-name>
    <servlet-name>WarehouseServlet</servlet-name>
    <servlet-class>com.neuedu.controller.WarehouseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WarehouseServlet</servlet-name>
    <url-pattern>/WarehouseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageWhServlet</display-name>
    <servlet-name>ManageWhServlet</servlet-name>
    <servlet-class>com.neuedu.controller.ManageWhServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageWhServlet</servlet-name>
    <url-pattern>/manageWhServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageResServlet</display-name>
    <servlet-name>ManageResServlet</servlet-name>
    <servlet-class>com.neuedu.controller.ManageResServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageResServlet</servlet-name>
    <url-pattern>/manageResServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchInfoServlet</display-name>
    <servlet-name>SearchInfoServlet</servlet-name>
    <servlet-class>com.neuedu.controller.SearchInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchInfoServlet</servlet-name>
    <url-pattern>/searchInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PurchaseReturnServlet</display-name>
    <servlet-name>PurchaseReturnServlet</servlet-name>
    <servlet-class>com.neuedu.controller.PurchaseReturnServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PurchaseReturnServlet</servlet-name>
    <url-pattern>/purchaseReturnServlet</url-pattern>
  </servlet-mapping>
  <servlet>
		<description></description>
		<display-name>SuppliersServlet</display-name>
		<servlet-name>SuppliersServlet</servlet-name>
		<servlet-class>com.neuedu.controller.SuppliersServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SuppliersServlet</servlet-name>
		<url-pattern>/suppliersServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>SubstationServlet</display-name>
		<servlet-name>SubstationServlet</servlet-name>
		<servlet-class>com.neuedu.controller.SubstationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SubstationServlet</servlet-name>
		<url-pattern>/substationServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>InvoiceServlet</display-name>
		<servlet-name>InvoiceServlet</servlet-name>
		<servlet-class>com.neuedu.controller.InvoiceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InvoiceServlet</servlet-name>
		<url-pattern>/invoiceServlet</url-pattern>
	</servlet-mapping>
	 <servlet>
        <servlet-name>UserManageServlet</servlet-name>
        <servlet-class>com.neuedu.controller.UserManageServlet</servlet-class>
    </servlet>
  <servlet>
    <servlet-name>NewOrderServlet</servlet-name>
    <servlet-class>com.neuedu.controller.NewOrderServlet</servlet-class>
  </servlet>

    <servlet>
        <servlet-name>UnsubscribServlet</servlet-name>
        <servlet-class>com.neuedu.controller.UnsubscribServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReturnOrderServlet</servlet-name>
        <servlet-class>com.neuedu.controller.ReturnOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectOrderServlet</servlet-name>
        <servlet-class>com.neuedu.controller.SelectOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectOperatorServlet</servlet-name>
        <servlet-class>com.neuedu.controller.SelectOperatorServlet</servlet-class>
    </servlet>


    <servlet-mapping>
    <servlet-name>UserManageServlet</servlet-name>
    <url-pattern>/UserManageServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>NewOrderServlet</servlet-name>
    <url-pattern>/NewOrderServlet</url-pattern>
  </servlet-mapping>


  <servlet-mapping>
    <servlet-name>UnsubscribServlet</servlet-name>
    <url-pattern>/UnsubscribServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
  <servlet-name>ReturnOrderServlet</servlet-name>
  <url-pattern>/ReturnOrderServlet</url-pattern>
</servlet-mapping>

  <servlet-mapping>
    <servlet-name>SelectOrderServlet</servlet-name>
    <url-pattern>/SelectOrderServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>SelectOperatorServlet</servlet-name>
    <url-pattern>/SelectOperatorServlet</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>TaskListQueryServlet</display-name>
    <servlet-name>TaskListQueryServlet</servlet-name>
    <servlet-class>com.neuedu.controller.TaskListQueryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TaskListQueryServlet</servlet-name>
    <url-pattern>/taskListQueryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TaskListAllocateServlet</display-name>
    <servlet-name>TaskListAllocateServlet</servlet-name>
    <servlet-class>com.neuedu.controller.TaskListAllocateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TaskListAllocateServlet</servlet-name>
    <url-pattern>/taskListAllocateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecepitServlet</display-name>
    <servlet-name>RecepitServlet</servlet-name>
    <servlet-class>com.neuedu.controller.RecepitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecepitServlet</servlet-name>
    <url-pattern>/recepitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InvoiceManagement</display-name>
    <servlet-name>InvoiceManagement</servlet-name>
    <servlet-class>com.neuedu.controller.InvoiceManagement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InvoiceManagement</servlet-name>
    <url-pattern>/invoiceManagement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InvoiceManagementServlet</display-name>
    <servlet-name>InvoiceManagementServlet</servlet-name>
    <servlet-class>com.neuedu.controller.InvoiceManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InvoiceManagementServlet</servlet-name>
    <url-pattern>/invoiceManagementServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaymentQueryServlet</display-name>
    <servlet-name>PaymentQueryServlet</servlet-name>
    <servlet-class>com.neuedu.controller.PaymentQueryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentQueryServlet</servlet-name>
    <url-pattern>/paymentQueryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
		<description></description>
		<display-name>demo</display-name>
		<servlet-name>demo</servlet-name>
		<servlet-class>com.neuedu.controller.demo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>demo</servlet-name>
		<url-pattern>/demo</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>searchOrderServlet</display-name>
		<servlet-name>searchOrderServlet</servlet-name>
		<servlet-class>com.neuedu.controller.searchOrderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>searchOrderServlet</servlet-name>
		<url-pattern>/searchorderservlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>searchTasklistServlet</display-name>
		<servlet-name>searchTasklistServlet</servlet-name>
		<servlet-class>com.neuedu.controller.searchTasklistServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>searchTasklistServlet</servlet-name>
		<url-pattern>/searchtasklistservlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>distributeServlet</display-name>
		<servlet-name>distributeServlet</servlet-name>
		<servlet-class>com.neuedu.controller.distributeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>distributeServlet</servlet-name>
		<url-pattern>/distributeservlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
    <description></description>
    <display-name>ManageTitleServlet</display-name>
    <servlet-name>ManageTitleServlet</servlet-name>
    <servlet-class>com.neuedu.controller.ManageTitleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageTitleServlet</servlet-name>
    <url-pattern>/manageTitleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageProductServlet</display-name>
    <servlet-name>ManageProductServlet</servlet-name>
    <servlet-class>com.neuedu.controller.ManageProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageProductServlet</servlet-name>
    <url-pattern>/manageProductServlet</url-pattern>
  </servlet-mapping>


   <servlet>
    <description></description>
    <display-name>SupplierManagementServlet</display-name>
    <servlet-name>SupplierManagementServlet</servlet-name>
    <servlet-class>com.neuedu.controller.SupplierManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupplierManagementServlet</servlet-name>
    <url-pattern>/supplierManagementServlet</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>CenWarehouseServlet</display-name>
    <servlet-name>CenWarehouseServlet</servlet-name>
    <servlet-class>com.neuedu.controller.CenWarehouseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CenWarehouseServlet</servlet-name>
    <url-pattern>/cenWarehouseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubWarehouseServlet</display-name>
    <servlet-name>SubWarehouseServlet</servlet-name>
    <servlet-class>com.neuedu.controller.SubWarehouseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubWarehouseServlet</servlet-name>
    <url-pattern>/subWarehouseServlet</url-pattern>
  </servlet-mapping>

  
</web-app>